ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow:hidden;
    background-color: #FFFFFF;
    text-decoration: none;


}

nav{
  position: relative;;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

}

li {
    float: right;
    margin-top: 0px;
    text-decoration: none;
}

a:hover {
  text-decoration: none;

}

li a {
    display: block;
    color: black;
    font-family: Merriweather;
    text-align: center;
    margin-top: 6px;
    padding: 14px 10px;
    text-decoration: none;
    color: #000000;

}

ul img {
  width: 100px;
  height: 30px;
  margin-top: 17px;
  margin-left: 8px;

}

.jumbotron {
   min-height: 1000px;
background-size: cover;
}

.container p{
  justify-content: center;
  width: 50%;
  font-size: 20pt;
  font-family: Roboto; 
  text-align: center;
  margin-top: 225px;
  margin-left: auto;
  margin-right: auto;
}
